<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-assertive">
        <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back()"></div>
        <h1 class="title">更多</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">

        <div class="list padding-top mb_7">
            <a class="item  item-icon-right" href="#/tab/moreAboutUs">
                <img src="img/more_03.png" class="img_icon">
                关于我们
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
            <a class="item  item-icon-right" href="#/tab/moreHelp">
                <img src="img/more_06.png" class="img_icon">
                帮助中心
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
            <a class="item  item-icon-right" href="#" ng-click="kefu()">
                <img src="img/more_08.png" class="img_icon">
                客服热线
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
        </div>
        <div class="list mb_7">
            <a class="item  item-icon-right" href="#/tab/moreFeedback">
                <img src="img/more_10.png" class="img_icon">
                意见反馈
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
            <a class="item  item-icon-right" href="#">
                <img src="img/more_12.png" class="img_icon">
                去评分
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
            <a class="item  item-icon-right" href="#">
                <img src="img/more_14.png" class="img_icon">
                分享给朋友
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
        </div>
        <div class="list  mb_7">
            <a class="item  item-icon-right" href="#/tab/accountSet">
                <img src="img/more_16.png" class="img_icon">
                账户设置
                <i class="icon ion-ios-arrow-right gray"></i>
            </a>
        </div>
    </ion-content>
</ion-view>

