<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-assertive">
        <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back()"></div>
        <h1 class="title">我的银行卡</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
        <div class="list padding-top">
            <div class="item">
                <span class="card_name fl">李中堂</span>
                <span class="card_num fr">6013********0264</span>
            </div>

            <div class="bank_ct">
                <div class="bank_icon fl"><img src="img/bank_1.jpg"></div>
                <div class="bank_info fl">
                    <h3>中国工商银行</h3>

                    <p>储蓄卡</p>
                </div>
                <p class="bank_num fr">限额<span>100</span>万</p>
            </div>

        </div>
    </ion-content>
</ion-view>