<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-assertive">
        <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back()"></div>
        <h1 class="title">邀请</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="scroll-content ionic-scroll start_content_product">
        <div class="list padding-top">
            <h3 class="share_tit">分享到：</h3>
            <ul class="share">
                <li><a href="#"><img src="img/share_03.png"></a>

                    <p>微信好友</p></li>
                <li><a href="#"><img src="img/share_05.png"></a>

                    <p>微信朋友圈</p></li>
                <li><a href="#"><img src="img/share_07.png"></a>

                    <p>QQ</p></li>
                <li><a href="#"><img src="img/share_09.png"></a>

                    <p>短信</p></li>
                <li><a href="#"><img src="img/share_15.png"></a>

                    <p>新浪微博</p></li>
                <li><a href="#"><img src="img/share_16.png"></a>

                    <p>QQ空间</p></li>
                <li><a href="#"><img src="img/share_17.png"></a>

                    <p>邮件</p></li>
                <li><a href="#"><img src="img/share_18.png"></a>

                    <p>复制链接</p></li>
            </ul>

        </div>

    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item "> <i class="icon ion-ios-home-outline"></i> 首页 </a>
        <a class="tab-item  active assertive"> <i class="icon ion-ios-list-outline"></i> 理财 </a>
        <a class="tab-item"> <i class="icon ion-navigate"></i> 创新 </a>
        <a class="tab-item"> <i class="icon ion-person"></i> 我 </a></div>
</ion-view>
