<ion-view>
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back()"></div>
        <h1 class="title">订单详情</h1>
        <a class="button button-small button-assertive ">查看协议</a></ion-header-bar>
    <ion-content has-bouncing="true" class="scroll-content ionic-scroll my_home_content has-footer">
        <div class="list padding-left padding-right padding-top mb_7">
            <div class="item order_top">
                <h3>朝阳永续FOF1号 a期</h3>
                <button class=" button button-small  button-calm mb_7">封闭中</button>
                <div class="order_details">
                    <h3>订单信息</h3>
                    <table>
                        <tr>
                            <td>订单号：</td>
                            <td class="num"> 20150616161133580</td>
                        </tr>
                        <tr>
                            <td>产品名称：</td>
                            <td class="num"> 朝阳永续FOF1号A期</td>
                        </tr>
                        <tr>
                            <td>订单总金额：</td>
                            <td class="num"> 20,000.00元</td>
                        </tr>
                        <tr>
                            <td>净认购金额：</td>
                            <td class="num"> 20,000.00元</td>
                        </tr>
                        <tr>
                            <td>认购手续费：</td>
                            <td class="num"> 240.00元</td>
                        </tr>
                        <tr>
                            <td>支付金额：</td>
                            <td class="num"> 20,240.00元</td>
                        </tr>
                        <tr>
                            <td>下单时间：</td>
                            <td class="num"> 2015-06-16 16:11:33</td>
                        </tr>
                        <tr>
                            <td>权益起始日：</td>
                            <td class="num"> 2015-06-16</td>
                        </tr>
                        <tr>
                            <td>预计到期日：</td>
                            <td class="num"> 非固定期限</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="list padding-left padding-right mb_7">
            <div class="item order_details">
                <h3>持仓信息</h3>
                <table>
                    <tr>
                        <td> 当前市值：</td>
                        <td class="num"> 18,000.00元</td>
                    </tr>
                    <tr>
                        <td>当前份额：</td>
                        <td class="num">28,000.00</td>
                    </tr>
                    <tr>
                        <td>当前净值：</td>
                        <td class="num">0.9000</td>
                    </tr>
                    <tr>
                        <td>累计盈亏：</td>
                        <td class="num">-2,000.00</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="list padding-left padding-right mb_7">
            <div class="item order_details">
                <h3>赎回信息</h3>
                <table>
                    <tr>
                        <td> 累计赎回金额：</td>
                        <td class="num">--</td>
                    </tr>
                    <tr>
                        <td>累计赎回份额：</td>
                        <td class="num">--</td>
                    </tr>
                    <tr>
                        <td>赎回手续费：</td>
                        <td class="num">--</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="list padding-left padding-right mb_7">
            <div class="item order_details">
                <h3>投资人信息</h3>
                <table>
                    <tr>
                        <td> 投资人姓名：</td>
                        <td class="num"> 张三丰</td>
                    </tr>
                    <tr>
                        <td>身份证号码：</td>
                        <td class="num">532**********1631</td>
                    </tr>
                    <tr>
                        <td>投资账户：</td>
                        <td class="num">建设银行( 尾号 3152 )</td>
                    </tr>
                    <tr>
                        <td>回款账户：</td>
                        <td class="num">建设银行( 尾号 3152 )</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <div class="title">查看产品</div>
    </div>
</ion-view>
