<ion-view>
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back();"></div>
        <h1 class="title">我的代金券</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="scroll-content ionic-scroll my_home_content">

        <div class="list  padding-left padding-right padding-top mb_7">
            <div class="cash_box cash_nouse">
                <div class="cash_tit">
                    <h3>恭喜您获得</h3>
                    <a class="">点击领取</a>
                </div>
                <div class="cash_details">
                    <h3>20<span>元</span></h3>

                    <p>可购买固定收益、浮动收益产品<br>有效期：2015.09.25-2015.10.20</p>
                </div>
            </div>
        </div>
        <div class="list padding-left padding-right">
            <div class="cash_box cash_use">
                <div class="cash_tit">
                    <h3>恭喜您获得</h3>

                </div>
                <div class="cash_details cash_details1">
                    <h3>20<span>元</span></h3>

                    <p>可购买固定收益、浮动收益产品<br>有效期：2015.09.25-2015.10.20</p>

                </div>
                <div class="cash_icon"><img src="img/cashcoupon_3.png"></div>
            </div>
        </div>
        <div class="cash_ts">
            温馨提示：点击领取，可在钱包中查看额度并提现,如果您没领取，可
            购买固定收益或浮动收益产品抵扣。
        </div>
    </ion-content>

</ion-view>
