<ion-view>
    <ion-content  has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
        <div class="index_ad">
            <ul>
                <li><img src="img/index_ad1.jpg"></li>
                <li><img src="img/index_ad2.jpg"></li>
                <li><img src="img/index_ad3.jpg"></li>

            </ul>

        </div>

        <div class="list product_list">
            <div class="product_item product_bg1 " ng-click="$state.go('tab.product1Detail')">
                <div class="product_lab fl" >
                    固<br>定<br>收<br>益
                </div>
                <div class="product_details fr">
                    <div class="product_tit">
                        <h3>新手专享</h3>
                        <span>已有22人投资</span>
                    </div>
                    <div class="product_details_con">
                        <div class="product_rate fl"><p>预期化年收益率</p> <h4 class="t1">9.<span>7%</span></h4></div>
                        <div class="product_time fl"><p>期限6天</p><p>剩余剩余剩余剩余剩余剩余</p></div>
                        <div class="product_btn fr"><a href="#/tab/product1Detail" class="button button-small btn_gray">立即购买</a></div>

                    </div>
                </div>
            </div>
            <div class="product_item product_bg2 " ng-click="$state.go('tab.product1Detail')">
                <div class="product_lab fl" >
                    固<br>定<br>收<br>益
                </div>
                <div class="product_details fr">
                    <div class="product_tit">
                        <h3>阳光城海坤项目</h3>
                        <span>已有28人投资</span>
                    </div>
                    <div class="product_details_con">
                        <div class="product_rate fl"><p>预期化年收益率</p> <h4 class="t2">17.<span>8%</span></h4></div>
                        <div class="product_time fl"><p>总额1296万天</p><p>期限12或24个月</p></div>
                        <div class="product_btn fr"><a href="#/tab/product1Detail"class="button button-small button-assertive">购买</a></div>

                    </div>



                </div>
            </div>
            <div class="product_item product_bg3 " ng-click="$state.go('tab.product2Detail')">
                <div class="product_lab fl" >
                    浮<br>动<br>收<br>益
                </div>
                <div class="product_details fr">
                    <div class="product_tit">
                        <h3>朝阳永续FOF1号A期</h3>
                        <span>已有15人投资</span>
                    </div>
                    <div class="product_details_con">
                        <div class="product_rate fl"><p>预期化年收益率</p> <h4 class="t3">28.<span>7%</span></h4></div>
                        <div class="product_time fl"><p>指数型</p><p>中高风险</p></div>
                        <div class="product_btn fr"><a href="#/tab/product2Detail" class="button button-small button-assertive">立即购买</a></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="accout_tip">
            <img src="img/safe-ioc.png">
            <span>账户资金安全由第三方支付公司提供全方位保障</span>
        </div>
    </ion-content>


</ion-view>