 
 <ion-view>

     <ion-header-bar align-title="center" class="bar-stable bar-assertive">
         <div class="button icon ion-ios-arrow-back button-clear"></div>
         <h1 class="title">帮助中心</h1>
     </ion-header-bar>
     <ion-content  has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
         <div class="list padding-top">
             <div class="help_list">
                 <div class="help_tit"><h2 class="fl">中投在线是什么？</h2> <i class="icon ion-ios-arrow-down gray fr"></i></div>
                 <p style="display:block;">敢做第一个吃螃敢做第一个吃螃蟹的投资者敢做第一个吃螃蟹的投资者蟹的投资者</p>
             </div>
             <div class="help_list">
                 <div class="help_tit"><h2 class="fl">中投在线是什么？</h2><i class="icon ion-ios-arrow-up gray fr"></i></div>
                 <p>敢做第一个吃螃敢做第一个吃螃蟹的投资者敢做第一个吃螃蟹的投资者蟹的投资者</p>
             </div>
             <div class="help_list ">
                 <div class="help_tit"><h2 class="fl">中投在线是什么？</h2><i class="icon ion-ios-arrow-up gray fr"></i></div>
                 <p>敢做第一个吃螃敢做第一个吃螃蟹的投资者敢做第一个吃螃蟹的投资者蟹的投资者</p>
             </div>
             <div class="help_list ">
                 <div class="help_tit"><h2 class="fl">中投在线是什么？</h2><i class="icon ion-ios-arrow-up gray fr"></i></div>
                 <p>敢做第一个吃螃敢做第一个吃螃蟹的投资者敢做第一个吃螃蟹的投资者蟹的投资者</p>
             </div>

     </ion-content>

 </ion-view>