<ion-view>
  <ion-header-bar align-title="center" class="bar-stable bar-assertive">
    <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back()"></div>
    <h1 class="title">意见反馈</h1>
  </ion-header-bar>
  <ion-content  has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
  
   <div class="list padding mb_7">
        <label class="item item-input about_li">
          <textarea rows="8" placeholder="感谢反馈，请填写您的问题或意见，我们将及时跟进与解决。"></textarea>
        </label>
      </div>
      
       <div class="list padding-left padding-right mb_7 ">
        <label class="item item-input about_li">
          <input type="text" placeholder="手机号/邮箱 ( 选填，方便我们联系你 ) ">
        </label>
      </div>
      
      <div class="list padding-left padding-right ">
      <button class="button button-assertive button-block">提交</button>
      </div>
  </ion-content>
</ion-view>