<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-assertive">
        <!--<div class="button icon ion-ios-arrow-back button-clear"></div>-->
        <h1 class="title">订单处理</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
        <div class="list order_box padding">
            <h3 class="tp"><img src="img/icon_1.png"></h3>

            <p class="p1">您的订单正在处理中...</p>
        </div>
    </ion-content>
</ion-view>
