<ion-view>
  <ion-header-bar align-title="center" class="bar-stable bar-assertive">
    <div class="button icon ion-ios-arrow-back button-clear" ng-click="$root.back()"></div>
    <h1 class="title">选择现金券</h1>
  </ion-header-bar>
  <ion-content  has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
    <div class="list mb_7 xjq_tit">可用现金券</div>
    <ul class="list xjq_item">
      <li class="item item-checkbox item-checkbox-right  ">
        <div class="xjq_box xjq_box1 fl">
          <h3>￥50</h3>
          <p>现金券</p>
        </div>
        <div class="xjq_wz fl">
          <p>可购买固定收益、浮动收益产品</p>
          <p>有效期：2015.09.25-2015.10.20</p>
        </div>
        <label class="checkbox checkbox-assertive">
          <input type="checkbox">
        </label>
      </li>
      <li class="item item-checkbox item-checkbox-right  ">
        <div class="xjq_box xjq_box2 fl">
          <h3>￥20</h3>
          <p>现金券</p>
        </div>
        <div class="xjq_wz fl">
          <p>可购买固定收益、浮动收益产品</p>
          <p>有效期：2015.09.25-2015.10.20</p>
        </div>
        <label class="checkbox checkbox-assertive">
          <input type="checkbox">
        </label>
      </li>
    </ul>
   <div class="list padding">
    <button class="button button-assertive button-block">确定</button> 
    
    
    </div>
  </ion-content>

</ion-view>