<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-assertive">
        <h1 class="title">理财</h1>
    </ion-header-bar>
    <ion-content  has-bouncing="true" class="scroll-content ionic-scroll start_content_product ">
        <div class="list mb_7">
            <dl class="nav_tit">
                <dd><a href="#"  class="select">固定收益</a></dd>
                <dd><a href="#/tab/product2">浮动收益</a></dd>
                <dd><a href="#">精选私募</a></dd>
                <dd><a href="#">转让专区</a></dd>
            </dl>
        </div>

        <div class="list financial_box ">
            <h3 class="tit">长江担保股权收益权集合</h3>
            <div class="financial_data">
                <div class="financial_rate fl"><h3>8.0<span>%</span></h3><p>预期年化利率</p></div>
                <div class="financial_time fl"><p><span>12</span>或<span>24</span>月</p><p>期限</p></div>
                <div class=" financial_num fl"><p><span>10.000</span>元</p><p>产品总额</p></div>
                <div class="financial_btn fr"><a class="tz" href="#/tab/product1Detail">投资</a></div>
            </div>
            <div class="financial_product_progress">
                 <div class="product_progress"></div>
            </div>
            <div class="financial_result ">
                <p> 距离购买结束<img src="img/financial_1.png"><em>3</em>天<em>2</em>时<em>1</em>分<em>23</em>秒</p>
                <span>剩余可投：39.0万</span>
            </div>
        </div>
        <div class="list financial_box ">
            <h3 class="tit">知名娱乐上市公司并购项目</h3>
            <div class="financial_data">
                <div class="financial_rate fl"><h3>7.8<span>%</span></h3><p>预期年化利率</p></div>
                <div class="financial_time fl"><p><span>12</span>或<span>24</span>月</p><p>期限</p></div>
                <div class=" financial_num fl"><p><span>10.000</span>元</p><p>产品总额</p></div>
                <div class="financial_btn fr"><a class="js">已结束</a></div>
            </div>
            <div class="financial_product_progress">
                <div class="product_progress"></div>
            </div>
            <div class="financial_result ">
                <p> 购买结束时间<img src="img/financial_1.png">10月02日15时23分32秒</p>
                <span>累计投资：88万</span>
            </div>
        </div>
        <div class="list financial_box ">
            <h3 class="tit">知名娱乐上市公司并购项目2号</h3>
            <div class="financial_data">
                <div class="financial_rate fl"><h3>浮动</h3><p>预期年化利率</p></div>
                <div class="financial_time fl"><p><span>12</span>或<span>24</span>月</p><p>期限</p></div>
                <div class=" financial_num fl"><p><span>10.000</span>元</p><p>产品总额</p></div>
                <div class="financial_btn fr"><a class="js">已结束</a></div>
            </div>
            <div class="financial_product_progress">
                <div class="product_progress"></div>
            </div>
            <div class="financial_result ">
                <p> 距离购买结束<img src="img/financial_1.png"><em>3</em>天<em>2</em>时<em>1</em>分<em>23</em>秒</p>
                <span>累计投资：88万</span>
            </div>
        </div>




    </ion-content>


</ion-view>